#quiz{
	margin-left: 10px;
	background: #d2def2;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	height: 720px;
	margin-bottom: 50px;
}

#quiz2{
	margin-left: 10px;
	background: #d2def2;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	margin-bottom: 50px;
	float: left;
}

#after_submit{
	visibility: hidden;
	background: green;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 5px;
	margin-top: 310px;
    font-size: 30px;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
  background-color: black;
}

footer {
	background-color: black;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: white;
}